image==1.5.27
ipdb==0.12.3
pathlib-1.0.1
ipython==7.10.2
numpy==1.17.4
PyScreeze==0.1.26
PyTweening==1.0.3
PyMsgBox==1.0.7
Pillow==6.2.1
requests==2.22.0
virtualenv==16.7.9
pyautogui==0.9.50
pyobjc-core==6.2
pyobjc-framework-Cocoa==6.1
pyobjc-framework-Quartz==5.3
opencv-python==4.1.0.25
ffmpeg-python==0.2.0
olefile==0.46